body {
    margin: 0 auto;
    max-width: 1940px;
    box-sizing: border-box;
    background-color: #313131;
}

#content{
    margin-left: 3%;
}

.pokemon-card {
    display: inline-block;
    height: 220px;
    width: 170px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#pokecard-header{
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 15px;
}

#pokecard-header h3{
    font-family: 'Pokemon hollow', sans-serif;
    font-size: 22px;
    padding-bottom: 2px;
}

.pokemon-card img{
    height: 108px;
}

#pokecard-footer{
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pokemon-info h2{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 25px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;

}

#load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.d-none {
    display: none;
}

#search-icon{
    color: white;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

